[Desktop Entry]
Name=wmSpaceWeather
Comment=Space Weather Monitor
Comment[pl]=Monitor Pogody Kosmicznej
Exec=wmSpaceWeather
Terminal=0
Type=Application
